---
import Layout from "../layouts/Layout.astro";
import HeroSlider from "../components/HeroSlider.astro";
import LuxuryExperience from "../components/LuxuryExperience.astro";
import PhoenixExperience from "../components/PhoenixExperience.astro";
import ExploreGallery from "../components/ExploreGallery.astro";
import Entertainment from "../components/Entertainment.astro";
import OfferBanner from "../components/OfferBanner.astro";
import Packages from "../components/Packages.astro";
---

<Layout title="Phoenixx Goa - Luxury Playing Destination">
  <main>
    <OfferBanner />
    <HeroSlider />
    <LuxuryExperience />
    <PhoenixExperience />
    <ExploreGallery />
    <Packages />
    <Entertainment />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    margin: 0;
    padding: 0;
  }
</style>
