---
import Layout from '../layouts/Layout.astro';
import HeroSlider from '../components/HeroSlider.astro';
import LuxuryExperience from '../components/LuxuryExperience.astro';
import PhoenixExperience from '../components/PhoenixExperience.astro';
import ExploreGallery from '../components/ExploreGallery.astro';
import Entertainment from '../components/Entertainment.astro';
import OfferBanner from '../components/OfferBanner.astro';
---

<Layout title="Phoenix Casino Goa - Luxury Gaming & Entertainment">
	<main>
		<OfferBanner />
		<HeroSlider />
		<LuxuryExperience />
		<PhoenixExperience />
		<ExploreGallery />
		<Entertainment />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		margin: 0;
		padding: 0;
	}
</style>
